<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IxCacaoApp.Properties.Settings.IXcacaoConnectionString"
            connectionString="Data Source=DESKTOP-5UDNSII\MSSQLSERVER02;Initial Catalog=IXcacao;User ID=AdminCacaoApp;Password=Cacao2018app"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>